
@{
    ViewBag.Title = "Slider İşlemleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-3">
        Slider Başlık
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-5">
        Slider Tanımlama
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-3">
        Resim
        <input type="file" class="form-control" />
    </div>
    <div class="col-md-1">
        <br />
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </div>
</div>
